@page
@model YooperGreens.UI.Pages.Seeds.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Seed</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Seed.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seed.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Seed.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seed.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Seed.SeedLink)
        </dt>
        <dd>
            <a href="@Model.Seed.SeedLink" title="@Model.Seed.Name">@Model.Seed.Name</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Seed.Maximum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seed.Maximum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Seed.Minimum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seed.Minimum)
        </dd>
        <dt>
            Supplers
        </dt>
        <dd>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Seed.Suppliers[0].Name)
                        </th>
                        <th>
                            Supplier Link
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var supplier in Model.Seed.Suppliers)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => supplier.Name)
                            </td>
                            <td>
                                <a href="@supplier.SupplierLink" title="@supplier.Name">@supplier.Name</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                    </table>
        </dd>
    </dl>
</div>
<div>
    <a id="seedEdit" title="Seed Edit">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
